go 1.25.0

use (
	./alias
	./aliasauth
	./certcred
	./certstore
	./db
	./gatehouse-core
	./logging
	./mtls
	./peerauth
	./policy
	./registry
	./sessions
	./sso
	./transit
	./transit/websocket
	./typeconstraints
	./typedvalue
	./vitals
	./wire
)
